/.DS_Store
**/.DS_Store
/.vscode
/cleanup
/results
/data/topography/*.asc
/data/topography/*.asc*
/data/passes
/data/map_background
/compute.exe
**/*exe
**/*.pyc
/compute_mac
/resources_mac
/build
/dist
/mc
*.asc
