altgraph==0.17.4
certifi==2025.1.31
geojson==3.2.0
imageio==2.37.0
lazy_loader==0.4
macholib==1.16.3
networkx==3.4.2
numpy==2.2.2
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2025.1
pyproj==3.7.0
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
scikit-image==0.25.1
scipy==1.15.1
setuptools==75.8.0
shapely==2.0.7
six==1.17.0
tifffile==2025.1.10
tzdata==2025.1
